@font-face {
	font-family:"OpenSans Bold";
	src: url('../fonts/Open_Sans/OpenSans-Bold.ttf');
}
@font-face {
	font-family:"OpenSans BoldItalic";
	src: url('../fonts/Open_Sans/OpenSans-BoldItalic.ttf');
}
@font-face {
	font-family:"OpenSans ExtraBold";
	src: url('../fonts/Open_Sans/OpenSans-ExtraBold.ttf');
}
@font-face {
	font-family:"OpenSans ExtraBoldItalic";
	src: url('../fonts/Open_Sans/OpenSans-BoldItalic.ttf');
}
@font-face {
	font-family:"OpenSans Italic";
	src: url('../fonts/Open_Sans/OpenSans-Italic.ttf');
}
@font-face {
	font-family:"OpenSans Light";
	src: url('../fonts/Open_Sans/OpenSans-Light.ttf');
}
@font-face {
	font-family:"OpenSans LightItalic";
	src: url('../fonts/Open_Sans/OpenSans-LightItalic.ttf');
}
@font-face {
	font-family:"OpenSans Regular";
	src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
}
@font-face {
	font-family:"OpenSans Semibold";
	src: url('../fonts/Open_Sans/OpenSans-Semibold.ttf');
}
@font-face {
	font-family:"OpenSans SemiboldItalic";
	src: url('../fonts/Open_Sans/OpenSans-SemiboldItalic.ttf');
}